* {
  box-sizing: border-box;
opacity: 10%,
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  
  
}

.background {
  background: url('https://lh3.googleusercontent.com/d/1Yi-BOOtqP4E7lLfQ6Li0HYqyhu_7IAEa=w1000');
  background-size:cover;
  position:absolute;
  top: -20px;
  bottom: -20px;
  left: -20px;
  right: -20px;
  z-index: -1;
  filter: blur(20px);

}

.glass-box {
  background-color: rgba(255, 255, 255, 0,2);
  backdrop-filter: blur(50px);
  border: 1px solid (255, 255, 255, 0.3);
  box-shadow: 0 4px 30px rgba(225, 217, 217, 0.982);
}
    
